<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <div style="display: flex; flex-direction: row">
    <app-text-input
      (usernameChange)="receiveUsernameOne($event)"
    ></app-text-input>
    <p style="margin: 2vh 20px">VS</p>
    <app-text-input
      (usernameChange)="receiveUsernameTwo($event)"
    ></app-text-input>
  </div>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Duel</button>

  <!-- Display winner or ongoing message based on the winner variable -->
  <div *ngIf="winner">
    <app-duel-result
      *ngIf="apiDataOne && apiDataTwo; else loading"
      [duelDataWinner]="winner === usernameOne ? apiDataOne : apiDataTwo"
      [duelDataLoser]="winner === usernameOne ? apiDataTwo : apiDataOne"
    ></app-duel-result>
  </div>
  <ng-template #loading>
    <p>Duel in progress. No winner yet.</p>
  </ng-template>
</div>
